:root {
    --color-dark: midnightblue;
    --color-light: white;
}

p + p {
    margin-top: 0.5em;
}

header {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}

header h1 {
    flex: 1;
}

header nav {
    display: contents;
}

header ul {
    display: flex;
    flex-direction: column;
}

header a {
    display: inline-block;
    padding: 0.25em;
    color: var(--color-light);
    border-radius: 5px;
}

header a:hover {
    text-decoration: none;
}

header a:focus {
    text-decoration: none;
    outline: 2px solid var(--color-light);
}

main {
    padding: 0.5em 1em;
}

main h2 {
    color: var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.about-contents {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.about-contents img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.project-list {
    display: grid;
    grid-auto-rows: 6em;
    gap: 0.5em;
}

.project-list li {
    display: contents;
}

.project-list a {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.5em;
    min-height: 6em;
    text-decoration: none;
}

.project-list li:nth-child(4n) a {
    background-color: midnightblue;
}

.project-list li:nth-child(4n + 1) a {
    background-color: green;
}

.project-list li:nth-child(4n + 2) a {
    background-color: red;
}

.project-list li:nth-child(4n + 3) a {
    background-color: plum;
}

.project-card {
    background-color: lemonchiffon;
    color: black;
    padding: 0.25em;
}

.project-big {
    grid-row: span 2;
}

.contact ul {
    display: flex;
    flex-direction: column;
}

.contact li:first-child {
    margin-bottom: 0.25em;
}

.contact a {
    display: inline-block;
    padding: 0.25em;
}

.contact a:hover {
    text-decoration: none;
}